.backgroundRP {
    background-image: url('../../public/imagenes/fondo_inicio.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92.8vh;
}

.containerProduct {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
    padding-top: 20px;
}

.product-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 60px;
}

.form-group input[type="file"] {
    padding: 0;
}

.btn-create {
    width: 100%;
    padding: 12px;
    background-color: #a76f06;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
        margin-bottom: 10px;
    }
}
